In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("Healthstatus.csv")

In [4]:
df.head(20)

    pulse  body temperature  SpO2  Status
0      70              36.0    99       0
1      70              36.0    98       0
2      70              36.0    97       0
3      70              36.0    96       0
4      70              36.1   100       0
5      70              36.1    99       0
6      70              36.1    98       0
7      70              36.1    97       0
8      70              36.1    96       0
9      70              36.2   100       0
10     70              36.2    99       0
11     70              36.2    98       0
12     70              36.2    97       0
13     70              36.2    96       0
14     70              36.3   100       0
15     70              36.3    99       0
16     70              36.3    98       0
17     70              36.3    97       0
18     70              36.3    96       0
19     70              36.4   100       0

In [5]:
df.shape

(5909, 4)

In [6]:
df.isnull().sum()

pulse               0
body temperature    0
SpO2                0
Status              0
dtype: int64

In [7]:
df.describe()

             pulse  body temperature         SpO2       Status
count  5909.000000       5909.000000  5909.000000  5909.000000
mean     86.918260         37.789135    94.098832     1.255712
std      24.403935          1.380899     3.659424     0.727008
min      70.000000         36.000000    85.000000     0.000000
25%      75.000000         36.600000    92.000000     1.000000
50%      80.000000         37.600000    95.000000     1.000000
75%      86.000000         38.700000    97.000000     2.000000
max     179.000000         40.900000   100.000000     2.000000

In [8]:
df['Status'].value_counts()

2    2510
1    2400
0     999
Name: Status, dtype: int64

In [9]:
X=df.drop(columns='Status')
Y=df['Status']

In [10]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [11]:
X_train

      pulse  body temperature  SpO2
5203     70              38.3    89
1830     80              37.7    95
1879     81              37.0    98
2677     71              36.9    92
5501     78              38.3    87
...     ...               ...   ...
1230     72              38.7    95
4005     70              39.7    94
5040     88              39.0    91
3105     82              36.6    92
4323     76              39.0    94

[4727 rows x 3 columns]

In [12]:
X.shape,X_train.shape,X_test.shape

((5909, 3), (4727, 3), (1182, 3))

In [13]:
model=LogisticRegression()

In [14]:
model.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
X_train_prediction = model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [17]:
training_data_accuracy

0.9653056907129257

In [18]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [19]:
testing_data_accuracy

0.9670050761421319

In [20]:
data=(70,38.3,89)
#print(data)
data_array=np.array(data)
#data_array_reshape=data_array.reshape(-1,1)#if you have single feature  the do reshaping to (-1,1) else make 
#print(data_array)
prediction=model.predict([data_array])
print(prediction)
if (prediction==0):
    print("no detected parameters out of the norm")
elif (prediction==1):
    print("the person is sick, but the illness is not life-threatening")
else:
    print("the person’s life is in danger.")
#print(data_array_reshape[0][1])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

[2]
the person’s life is in danger.

## support vector Machine model

In [21]:
from sklearn import svm

In [22]:
classifier=svm.SVC(kernel='linear')
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [23]:
X_train_prediction=classifier.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
training_data_accuracy

0.9672096467103871

In [24]:
X_test_prediction=classifier.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)
testing_data_accuracy

0.9686971235194586

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
scaler=StandardScaler()

In [27]:
scaler.fit(X)

StandardScaler()

In [28]:
Std_data=scaler.transform(X)
Std_data

array([[-0.69331818, -1.29574021,  1.33944111],
       [-0.69331818, -1.29574021,  1.06615091],
       [-0.69331818, -1.29574021,  0.79286071],
       ...,
       [ 0.0443302 ,  0.80451838, -1.9400413 ],
       [ 0.0443302 ,  0.80451838, -1.6667511 ],
       [ 0.0443302 ,  0.80451838, -1.3934609 ]])

In [31]:
data=(70,38.3,89)
data_array=np.array(data)
#data_array_reshape=data_array.reshape(-1,1)
std=scaler.transform([data_array])
print(std)
prediction=classifier.predict(std)
print(prediction)
if (prediction==0):
    print("no detected parameters out of the norm")
elif (prediction==1):
    print("the person is sick, but the illness is not life-threatening")
else:
    print("the person’s life is in danger.")

[[-0.69331818  0.36998212 -1.3934609 ]]
[0]
no detected parameters out of the norm

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(